:root {
  --color-lilac: #ab9df2;
  --color-pink: #ff6188;
  --color-orange: #fc9867;
  --color-yellow: #ffd866;
  --color-green: #a9dc76;
  --color-cyan: #78dce8;
  --color-cream: #fcfcfa;
  --color-grey-light: #cccccc;
  --color-grey-mid: #aaaaaa;
  --color-grey-dark: #2c292d;
  --color-black: #191919;
  --radius: 0.8rem;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0.3rem solid var(--color-green);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-grey-dark);
  margin: 0;
  font-size: 1.6rem;
  font-family: monospace;
  color: var(--color-cream);
}

header {
  margin: 2rem 0;
}

section {
  border: 0.2rem solid transparent;
  border-radius: var(--radius);
  padding: 2rem;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-cream);
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  margin-bottom: 0.5rem;

  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

input,
select {
  display: block;

  border: 0.2rem solid var(--color-cream);
  border-radius: var(--radius);
  width: 100%;
  padding: 1rem;

  background-color: transparent;

  font-size: 1.4rem;
  font-family: monospace;
  color: var(--color-cream);
}

label {
  display: block;

  margin-bottom: 1rem;

  font-size: 1.6rem;
}

label span {
  display: block;

  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;

  border: 0;
  padding: 0;

  background-color: transparent;
}

hr {
  border: 1px solid var(--color-orange);
  border-radius: var(--radius);
  margin: 2rem 0;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.6rem;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;

  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

a.title {
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-lilac);
}

.parameters {
  border-color: var(--color-pink);
  margin-bottom: 2rem;
}

.text-button {
  border-radius: var(--radius);
  padding: 1rem;

  background-color: var(--color-yellow);

  font-size: 1.6rem;
  font-family: monospace;
  font-weight: bold;
  color: var(--color-grey-dark);
}

.text-button-transparent {
  background-color: transparent;

  color: var(--color-cream);
}

.results {
  display: grid;

  grid-gap: 1rem;
  border-color: var(--color-orange);
}

.pet {
  display: block;

  border: 0.2rem solid var(--color-yellow);
  border-radius: var(--radius);
  padding: 1rem;

  text-align: center;
}

.image-container {
  overflow: hidden;

  margin: 0 auto 1rem auto;
  border: 0.2rem solid var(--color-green);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

.image {
  width: 20rem;
  min-height: 20rem;
}

.name {
  margin-bottom: 0.5rem;

  font-size: 2.5rem;
  color: var(--color-cyan);
}

.details {
  border-color: var(--color-pink);
}

.carousel {
  display: flex;

  flex-direction: column;

  align-items: center;

  margin-bottom: 2rem;
}

.image-large {
  border: 2px solid var(--color-green);
  border-radius: var(--radius);
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 100%;
}

.buttons {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}

.buttons > button {
  margin-right: 1rem;
}

.buttons > button:last-child {
  margin-right: 0;
}

.image-small {
  border: 2px solid var(--color-yellow);
  border-radius: var(--radius);
  max-width: 80px;
}

.overview {
  margin-bottom: 2rem;

  text-align: center;
}

.adopt {
  text-align: center;
}

.adopt-heading {
  margin-bottom: 2rem;
}

.modal {
  border: 2px solid var(--color-lilac);
  border-radius: var(--radius);
  max-width: 50rem;
  padding: 2rem;

  background-color: var(--color-grey-dark);

  text-align: center;
}

@media only screen and (min-width: 768px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }

  .details {
    display: flex;
  }

  .carousel {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .overview {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .search {
    display: flex;
  }

  .parameters {
    margin-right: 2rem;
    margin-bottom: 0;
    width: 36rem;
  }

  .results {
    flex-grow: 1;
  }
}
